*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-image: url(img/mv.jpg);
  background-position: bottom;
  background-size: cover;
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

header h1 {
  padding-top: 20px;
  padding-left: 20px;
  color: rgba(50, 50, 50, 0.5)
}

main {
  width: 840px;
  margin: 50px auto;
}

.index {
  /* width:  840px;
  margin: 0 auto; */
}

section {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.5);
}